.index{
  background-image: linear-gradient(rgba(44, 96, 238, 0.5),rgba(68, 231, 246, 0.7));
  height: 100vh;
  margin-top: 0%;
}
/* .body {
  background-image: url("https://pin.it/7hnc22P");
  background-color: #cccccc;
 } */